<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css" rel="stylesheet">

    <style>
        div.container {
            padding: 30px
        }

        a {
            float: right
        }

        button {
            float: right
        }
    </style>

    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-info navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">

                        <div class="row justify-content-center">
                            <div class="col">待办事项</div>
                        </div>

                    </a>
                </li>
        </nav>
    </div>

    <div class="container">
        <form action="add_todo/" method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="请输入待办事项..." name="title">
                <div class="input-group-append">
                    <span class="input-group-botton">
                        <button class="btn btn-success" type="submit">
                            添加
                        </button>
                        {% csrf_token %}
                    </span>
                </div>
        </form>
            </div>
        </div>

    <div class="container">
        <form>
            <div class="row">

                <div class="col">
                    <div class="alert alert-warning">
                        <strong>待办事项</strong>

                        <ul class="list-group">
                            {% for todo in falsetodo %}
                            <li class="list-group-item">
                                {{ todo.title }}
                                <a href="/check/?id={{ todo.id}}" type="button" class="btn btn-outline-success">已完成</a>
                                <a href="/delete_/?id={{ todo.id}}" type="button" class="btn btn-outline-danger">删除</a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="alert alert-success">
                        <strong>已完成事项</strong>
                        <ul class="list-group">
                            {% for todo in truetodo %}
                            <li class="list-group-item">
                                {{ todo.title }}
                                <a href="/check/?id={{ todo.id}}" type="button" class="btn btn-outline-success">待处理</a>
                                <a href="/delete_/?id={{ todo.id}}" type="button" class="btn btn-outline-danger">删除</a>
                            </li>


                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </form>
    </div>

</body>

</html>